/* CodeIgniter 4 - Website
 ============================================================================ */
/* Forum: 	https://forum.codeigniter.com
 * Github:	https://github.com/codeigniter4/codeigniter4
 * Slack: 	https://codeigniterchat.slack.com
 * Website: https://codeigniter.com
 */

/* Raleway Font ------------------------------------------------------------- */

 @font-face {
 	font-family: 'Raleway';
 	font-style: normal;
 	font-weight: 200;
 	src: url('../fonts/Raleway/raleway-v14-latin-200.eot'); /* IE9 Compat Modes */
 	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
 			 url('../fonts/Raleway/raleway-v14-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 			 url('../fonts/Raleway/raleway-v14-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-200.woff') format('woff'), /* Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
 			 url('../fonts/Raleway/raleway-v14-latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
 }

 @font-face {
 	font-family: 'Raleway';
 	font-style: italic;
 	font-weight: 200;
 	src: url('../fonts/Raleway/raleway-v14-latin-200italic.eot'); /* IE9 Compat Modes */
 	src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
 			 url('../fonts/Raleway/raleway-v14-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 			 url('../fonts/Raleway/raleway-v14-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-200italic.woff') format('woff'), /* Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
 			 url('../fonts/Raleway/raleway-v14-latin-200italic.svg#Raleway') format('svg'); /* Legacy iOS */
 }

 @font-face {
 	font-family: 'Raleway';
 	font-style: normal;
 	font-weight: 400;
 	src: url('../fonts/Raleway/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
 	src: local('Raleway'), local('Raleway-Regular'),
 			 url('../fonts/Raleway/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 			 url('../fonts/Raleway/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
 			 url('../fonts/Raleway/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
 }

 @font-face {
 	font-family: 'Raleway';
 	font-style: italic;
 	font-weight: 400;
 	src: url('../fonts/Raleway/raleway-v14-latin-italic.eot'); /* IE9 Compat Modes */
 	src: local('Raleway Italic'), local('Raleway-Italic'),
 			 url('../fonts/Raleway/raleway-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 			 url('../fonts/Raleway/raleway-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
 			 url('../fonts/Raleway/raleway-v14-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
 }

 @font-face {
 	font-family: 'Raleway';
 	font-style: normal;
 	font-weight: 700;
 	src: url('../fonts/Raleway/raleway-v14-latin-700.eot'); /* IE9 Compat Modes */
 	src: local('Raleway Bold'), local('Raleway-Bold'),
 			 url('../fonts/Raleway/raleway-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 			 url('../fonts/Raleway/raleway-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-700.woff') format('woff'), /* Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
 			 url('../fonts/Raleway/raleway-v14-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
 }

 @font-face {
 	font-family: 'Raleway';
 	font-style: italic;
 	font-weight: 700;
 	src: url('../fonts/Raleway/raleway-v14-latin-700italic.eot'); /* IE9 Compat Modes */
 	src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
 			 url('../fonts/Raleway/raleway-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 			 url('../fonts/Raleway/raleway-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
 			 url('../fonts/Raleway/raleway-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
 			 url('../fonts/Raleway/raleway-v14-latin-700italic.svg#Raleway') format('svg'); /* Legacy iOS */
 }


/* Global elements ---------------------------------------------------------- */

* {
  transition: background-color 300ms ease, color 300ms ease; }

*:focus {
  background-color: #F9F3F3;
  outline: none; }

.clr {
  clear: both; }

:root{
	--primary-color:#DD4814; /*main orange color */
	--primary-dark:#c9340a; /* used in footer */
	--secondary-color:#111111; /* especially for titles */
	--general-text:#252525; /* general text */
	--white : #ffffff;
	--soft-white : #fafafa; /* some backgrounds / background sripes*/
	--section-border : #f4f4f4; /* top or bottom border for sections */
}
body {
  color: var(--general-text)/*#252525*/;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 400;
  }

header {
	border-bottom: 1px solid var(--section-border);
	background-color: var(--soft-white);
	padding: 0;
	margin:0;
	height:60px;
	}

#header-inner{
	width:80%;
	height:60px;
	margin:0 auto;
	}

#logo{
	float:left;
	margin-top:7.5px;
	}

#menu-toggle {
	display: none;
	float: right;
	font-size: 2rem;
	font-weight: bold;
	}

#menu-toggle button, #menu-toggle button:hover, #menu-toggle button:focus {
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: var(--primary-color);
	color: var(--white);
	height: 36px;
	width: 40px;
	cursor: pointer;
	overflow: visible;
	margin: 11px 0;
	padding: 0;
	font-size: 1.3rem;
	}

#top-menu {
	float:right;
	width:460px;
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	}

a.top-menu-item:link,a.top-menu-item:visited {
	float:left;
	text-decoration:none;
	color: var(--secondary-color);
	font-weight: 300;
	height:30px;
	margin: 0;
	padding: 20px 15px 0 15px;
	text-align: center;
	border-bottom:1px solid var(--soft-white);
	}

a.top-menu-item:hover,a.top-menu-item:focus {
	color: var(--primary-color);
	border-bottom:1px solid var(--primary-color);
	}

/* top menu active one starts here */
a.top-menu-item-active:link,a.top-menu-item-active:visited {
	float:left;
	text-decoration:none;
	height: 30px;
	line-height: 30px;
	margin: 0px 0;
	padding: .7rem .65rem;
	text-align: center;
	color: var(--primary-color);
	border-bottom:1px solid var(--primary-color);
	}

a.top-menu-item-active:hover,a.top-menu-item-active:focus {
	border-bottom:1px solid var(--primary-color);
	}

/* top menu active one ended */

/* top menu download button starts here */
a.top-menu-item-download {
	text-decoration:none;
	float:right;
	background-color: var(--primary-color);
	color: var(--white);
	margin:14px -4px 0 0;
	padding: 6px 18px;
	border-radius:5px 0 0 5px;
	}

a.top-menu-item-download:hover {
	background-color: var(--primary-dark);
	border-bottom:0px solid var(--primary-color);
	}
/*
a.download-button{
	text-decoration:none;
	float:right;
	background-color: var(--primary-color);
	color: var(--white);
	margin:-46px 0 0 0;
	padding: 6px 18px;
	border-radius:5px 0 0 5px;
	}

a.download-button:hover {
	background-color: var(--primary-dark);
	border-bottom:0px solid var(--primary-color);
	}	*/
/* The spotlight stands for slider which we do not have */

section#spotlight-outer{
	float:left;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:var(--soft-white);
	}

#spotlight-inner {
	width: 80%;
	height:100%;
	margin: 0 auto;
	padding: 1rem 1.75rem 2.75rem 1.75rem;
	}

#spotlight-title {
	position: relative;
	width: 600px;
	height: 150px;
	margin: 16px auto;
	font-size: 6rem;
	color: var(--primary-color);
	text-align: center;
	}

#spotlight-version {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 2rem;
	color: var(--primary-color);
	text-align: center;
	}

#spotlight-note {
	float: left;
	width: 100%;
	margin-top: -28px;
	text-align: center;
	font-size: 2rem;
	}

#spotlight-button-holder {
	width: 210px;
	height: 30px;
	margin: 35px auto;
	margin-bottom: 10px;
	}

#spotlight-link {
	text-decoration: none;
	display: inline-block;
	width: 200px;
	height: 22px;
	text-align: center;
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 3px;
	padding: 5px;
	color: var(--white);
	}

#spotlight-link:hover {
	background: var(--primary-dark);
	}

#github-scores{
	width:188px;
	height:30px;
	margin:40px auto;
	border:0px solid #ddd;
	margin-bottom:-2px;
	}

.githubs{
	float:left;
	width:94px;
	height:30px;
	border:0px solid #ddd;
	transition: all 0.5s;
	}

.githubs:hover{
	margin-top:-5px;
	}

.github-icon{
	float:left;
	}

.github-icon img{
	float:left;
	}
.github-data{
	float:left;
	font-size:11px;
	margin-top:10px;
	}

a.github-link:link,a.github-link:visited{
	text-decoration:none;
	color:#111;
	}


#slogan-outer{
	width: 100%;
	height: 150px;
	padding: 30px 0;
	padding-bottom: 10px;
	background: var(--white);
	border-top:1px solid var(--section-border);
	border-bottom:1px solid var(--section-border);
	}

#slogan-inner{
	width:80%;
	height:100px;
	margin:0 auto;
	}

#slogan-title{
	width: 100%;
	font-size: 2rem;
	text-align: center;
	}

#slogan-text{
	width: 60%;
	margin: 10px auto;
	font-size: 1rem;
	text-align: center;
	line-height:26px;
	}

a.slogan-link:link, #slogan-holder a.slogan-link:visited{
	color: var(--primary-color);
	text-decoration: none;
	text-align: center;
	margin: 10px auto;
	font-weight:600;
	border-bottom: 1px dotted var(--primary-color);
	}

a.slogan-link:hover{
	color: var(--primary-dark);
	}

/* Under our Main text there starts 4 boxes linking to main points */
section#important-links-outer{
  background-color: var(--soft-white);
	float:left;
	width:100%;
	height:100%;
	margin:0;
	padding:1.5rem 0;
	}

#important-links-inner {
	width:60%;
	height:100%;
	margin:10px auto;
	}

.important-link-boxes {
	float: left;
	text-align: center;
	width: 23%; /*250px*/
	height: 150px;
	margin: 10px 5px;
	padding: 10px;
	box-sizing: border-box;
	background: var(--white);
	border: 1px solid #f1f1f1;
	border-radius: 3px;
	transition: all 0.5s;
	}

.important-link-boxes a:link, .important-link-boxes a:visited {
	text-decoration: none;
	}

.important-link-boxes:hover {
	box-shadow: 0 10px 10px #dbdbdb;
	border: 1px solid #DFDFDF;
	}

/* Here is where content section starts */

section#content-outer{
	float:left;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background: #fff;
	}

#content-inner {
	width:80%;
	height:100%;
	margin:2rem auto;
	}

.recent-news-and-forum-posts {
	float: none;
	display: inline-block;
	width: 44%;
	height: 100%;
	margin: 4rem auto 3rem auto;
	}

/* .margin-left below is extra for the right one */
.margin-left {
	margin-left: 6%;
	}

/* rnafp is the abbr. of Recent News And Forum Posts, initials */
.rnafp-name {
	float: left;
	display: block;
	width: 100%;
	height: 20px;
	padding: 4px 6px;
	margin-bottom:11px;
	font-size: 14px;
	color: var(--secondary-color);
	font-size: 16px;
	font-weight: 600;
	}
.rnapf-row {
	float: left;
	display: block;
	width: 100%;
	height: 44px;
	padding: 10px 0;
	border-bottom: 1px solid #f1f1f1;
	border-left: 1px solid var(--soft-white);
	transition: all 0.3s;
	}


.rnapf-date {
	float: left;
	width: 20%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	color: var(--secondary-color);
	}

.rnapf-title {
	float: left;
	width: 80%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	color: var(--secondary-color);
	}

a.rnapf-title-link:link, a.rnapf-title-link:visited {
	text-decoration: none;
	}

/* section title class can be used for any section */
.section-title {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	color: var(--primary-color);
	}

#why-codeigniter-title{
	margin: 4rem 0 2rem 0;
	}

.why-rows{
	float:left;
	width:100%;
	height:157px;
}
/* Features boxes with icons */
.ci-features-box {
	float: left;
	width: 45%;
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid var(--white);
	margin: 18px 10px 0 10px;
	transition: box-shadow 0.5s;
	transition: margin-top 0.5s;
	}

.ci-features-box:hover {
	float: left;
	border: 1px solid #f1f1f1;
	background: var(--white);
	box-shadow: 3px 3px 10px #eee;
	margin-top: 14px;
	}

.ci-features-box-icon {
	float: left;
	width: 60px;
	height: 60px;
	margin: 20px auto;
	display: block;
	}

.ci-features-box-text-area {
	float: left;
	display: inline-block;
	width: 80%;
	height: 100px;
	margin: 10px;
	}

.ci-features-box-title {
	float: left;
	padding: 5px;
	box-sizing: border-box;
	color: var(--secondary-color);
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	}

.ci-features-box-text {
	float: left;
	width: 100%;
	height: 90%;
	padding: 5px;
	box-sizing: border-box;
	}


footer#footer-outer {
	float:left;
	width:100%;
	height:60px;
	background-color: var(--primary-color);
	color: var(--white);
	margin-top: 30px;
	padding-top:13px;
	box-sizing:border-box;
	}

#footer-inner {
	width:80%;
	margin:0 auto;
	height: 60px;
	margin-top:0;
	}

#footer-inner-left {
	float: left;
	width: 70%;
	height: 40px;
	}

a.footer-menu-item:link,a.footer-menu-item:visited{
	float: left;
	text-decoration: none;
	color: var(--white);
	padding: 4px 0;
	margin: 0 10px;
	transition: all 0.3s;
	height:40px;
	}

a.footer-menu-item:hover {
	margin-top: -4px;
	.border-bottom:1px solid #f4c3bd;
	}

#footer-inner-right {
	float: right;
	margin-top: 0;
	width: 240px;
	height: 60px;
	}

#footer-inner-right .links-icons{
	float:left;
	position:relative;
	margin-top:-18px;
	width:60px;
	height:60px;
	border:0px solid #ddd;
	transition: all 2s ease;
	}

#footer-inner-right .links-icons .icon{
	margin-bottom:0;
	margin:20px auto;
	transition: all 1s ease;
	}

#footer-inner-right .links-icons .data{
	font-size:11px;
	color:#111;
	line-height:10px;
	display:none;
	transition: all 2s ease;
	}


#footer-inner-right .links-icons:hover .icon{
	margin:10px auto;
	transition: all 0.5s ease;
	}

#footer-inner-right .links-icons:hover .data{
	display:block;
	color:#f5f5f5;
	}

#footer-copyrights {
	float:left;
	width: 100%;
	height:90px;
	background-color: var(--primary-dark);
	color: #DFDFDF;
	padding: 0.25rem 0;
	box-sizing:border-box;
	font-size: 80%;
	text-align: center;
	}

#footer-copyrights img{
	width:45px;
	height:45px;
	cursor:pointer;
	margin:-10px;
	}


 a {
  color: var(--primary-color); }

.delay{
	animation-delay: 0.3s;
}


.boldy300 {
  font-weight: 300; }

.boldy400 {
  font-weight: 400; }

.boldy600 {
  font-weight: 600; }

.boldy700 {
  font-weight: 700; }

.orange{
	color:var(--primary-color);}
.dark {
  color: #252525; }
