// COLORS
// ========================================================================== */

// Themes
$t-dark: #252525;
$t-light: #FFFFFF;

// Glossy colors
$g-primary: #DD4814;
$g-blue: #5BC0DE;
$g-gray: #434343;
$g-green: #9ACE25;
$g-orange: #DD8615;

// Matt colors
$m-primary: #EF9090;
$m-blue: #D8EAF0;
$m-gray: #DFDFDF;
$m-green: #DFF0D8;
$m-orange: #FDC894;

// Subtle colors
$s-primary: #F9F3F3;
$s-blue: #E8EFF1;
$s-gray: #FAFAFA;
$s-green: #EFF5ED;
$s-orange: #F9F2EB;
