/* CodeIgniter 4 - Website
 ============================================================================ */

/* Forum: 	https://forum.codeigniter.com
 * Github:	https://github.com/codeigniter4/codeigniter4
 * Slack: 	https://codeigniterchat.slack.com
 * Website: https://codeigniter.com
 */


// IMPORTS - BEFORE
// ========================================================================== */

@import '_graphic-charter.scss';
@import '_mixins';
@import '_settings';


// GENERAL
// ========================================================================== */

* {
  // Transitions
  transition: background-color 300ms ease, color 300ms ease;
}
*:focus {
  // Colors
  background-color: $s-primary;

  // Other styles
  outline: none;
}
html, body {
  // Colors
  color: $t-dark;

  // Fonts smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // Spacing
  margin: 0;
  padding: 0;

  // Typography
	font-family: $base-font;
	font-size: $base-size;
	font-weight: 400;
}

// IMPORTS - AFTER
// ========================================================================== */

@import '_header';
@import '_sections';
@import '_footer';
